<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hankarun.gevrek" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeBase" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CourseActivity"
            android:label="@string/title_activity_course"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NewsGropuEditActivity"
            android:label="@string/title_activity_news_gropu_edit"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ReadMessageActivity"
            android:label="@string/title_activity_read_message"
            android:parentActivityName=".activities.MessagesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MessagesActivity" />
        </activity>
        <activity
            android:name=".activities.CourseAddActivity"
            android:label="@string/title_activity_course_add"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hankarun.gevrek.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
